<!DOCTYPE html>
<html>
<head>
	<title>403 Forbidden</title>
</head>
<body>

<p>Directory access is forbidden.</p>

</body>
</html>

1f601":grin:" 								
:joy:" 					=> array('1f602' 		20,		20, 		'')
:rofl:" 					=> array('1f923' 		20,		20, 		'')
:smiley:" 				=> array('1f603' 		20,		20, 		'')
:smile:" 					=> array('1f604' 		20,		20, 		'')
:sweat_smile:" 			=> array('1f605' 		20,		20, 		'')
:laughing:" 				=> array('1f606' 		20,		20, 		'')
:wink:" 					=> array('1f609' 		20,		20, 		'')
:blush:" 					=> array('1f60a' 		20,		20, 		'')
:yum:" 					=> array('1f60b' 		20,		20, 		'')
:sunglasses:" 			=> array('1f60e' 		20,		20, 		'')
:heart_eyes:" 			=> array('1f60d' 		20,		20, 		'')
:kissing_heart:" 			=> array('1f618' 		20,		20, 		'')
:kissing:" 				=> array('1f617' 		20,		20, 		'')
:kissing_smiling_eyes:" 	=> array('1f619' 		20,		20, 		'')
:kissing_closed_eyes:" 	=> array('1f61a' 		20,		20, 		'')
:drelaxed:" 				=> array('263a ' 		20,		20, 		'')
:slight_smile:" 			=> array('1f642' 		20,		20, 		'')
:hugging:" 				=> array('1f917' 		20,		20, 		'')
:thinking:" 				=> array('1f914' 		20,		20, 		'')
:neutral_face:" 			=> array('1f610' 		20,		20, 		'')
:expressionless:" 		=> array('1f611' 		20,		20, 		'')
:no_mouth:" 				=> array('1f636' 		20,		20, 		'')
:rolling_eyes:" 			=> array('1f644' 		20,		20, 		'')
:smirk:" 					=> array('1f60f' 		20,		20, 		'')
:persevere:" 				=> array('1f623' 		20,		20, 		'')
:disappointed_relieved:" 	=> array('1f625' 		20,		20, 		'')
:open_mouth:" 			=> array('1f62e' 		20,		20, 		'')
:zipper_mouth:" 			=> array('1f910' 		20,		20, 		'')
:hushed:" 				=> array('1f62f' 		20,		20, 		'')
:sleepy:" 				=> array('1f62a' 		20,		20, 		'')
:tired_face:" 			=> array('1f62b' 		20,		20, 		'')
:sleeping:" 				=> array('1f634' 		20,		20, 		'')
:relieved:" 				=> array('1f60c' 		20,		20, 		'')
:nerd:" 					=> array('1f913' 		20,		20, 		'')
:stuck_out_tongue:" 		=> array('1f61b' 		20,		20, 		'')
:stuck_out_tongue_winking_eye:"=> array('1f61c' 		20,		20, 		'')
:stuck_out_tongue_closed_eyes:"=> array('1f61d' 		20,		20, 		'')
:drooling_face:" 			=> array('1f924' 		20,		20, 		'')
:unamused:" 				=> array('1f612' 		20,		20, 		'')
:sweat:" 					=> array('1f613' 		20,		20, 		'')
:pensive:" 				=> array('1f614' 		20,		20, 		'')
:confused:" 				=> array('1f615' 		20,		20, 		'')
:upside_down:" 			=> array('1f643' 		20,		20, 		'')
:money_mouth:" 			=> array('1f911' 		20,		20, 		'')
:astonished:" 			=> array('1f632' 		20,		20, 		'')
:frowning2:" 				=> array('2639 ' 		20,		20, 		'')
:slight_frown:" 			=> array('1f641' 		20,		20, 		'')
:confounded:" 			=> array('1f616' 		20,		20, 		'')
:disappointed:" 			=> array('1f61e' 		20,		20, 		'')
:worried:" 				=> array('1f61f' 		20,		20, 		'')
:triumph:" 				=> array('1f624' 		20,		20, 		'')
:cry:" 					=> array('1f622' 		20,		20, 		'')
:sob:" 					=> array('1f62d' 		20,		20, 		'')
:frowning:" 				=> array('1f626' 		20,		20, 		'')
:anguished:" 				=> array('1f627' 		20,		20, 		'')
:fearful:" 				=> array('1f628' 		20,		20, 		'')
:weary:" 					=> array('1f629' 		20,		20, 		'')
:grimacing:" 				=> array('1f62c' 		20,		20, 		'')
:cold_sweat:" 			=> array('1f630' 		20,		20, 		'')
:scream:" 				=> array('1f631' 		20,		20, 		'')
:flushed:" 				=> array('1f633' 		20,		20, 		'')
:dizzy_face:" 			=> array('1f635' 		20,		20, 		'')
:rage:" 					=> array('1f621' 		20,		20, 		'')
:angry:" 					=> array('1f620' 		20,		20, 		'')
:innocent:" 				=> array('1f607' 		20,		20, 		'')
:cowboy:" 				=> array('1f920' 		20,		20, 		'')
:clown:" 					=> array('1f921' 		20,		20, 		'')
:lying_face:" 			=> array('1f925' 		20,		20, 		'')
:mask:" 					=> array('1f637' 		20,		20, 		'')
:thermometer_face:" 		=> array('1f912' 		20,		20, 		'')
:head_bandage:" 			=> array('1f915' 		20,		20, 		'')
:nauseated_face:" 		=> array('1f922' 		20,		20, 		'')
:sneezing_face:" 			=> array('1f927' 		20,		20, 		'')
:smiling_imp:" 			=> array('1f608' 		20,		20, 		'')
:imp:" 					=> array('1f47f' 		20,		20, 		'')
:japanese_ogre:" 			=> array('1f479' 		20,		20, 		'')
:japanese_goblin:" 		=> array('1f47a' 		20,		20, 		'')
:skull:" 					=> array('1f480' 		20,		20, 		'')
:ghost:" 					=> array('1f47b' 		20,		20, 		'')
:alien:" 					=> array('1f47d' 		20,		20, 		'')
:robot:" 					=> array('1f916' 		20,		20, 		'')
:poop:" 					=> array('1f4a9' 		20,		20, 		'')
:smiley_cat:" 			=> array('1f63a' 		20,		20, 		'')
:smile_cat:" 				=> array('1f638' 		20,		20, 		'')
:joy_cat:" 				=> array('1f639' 		20,		20, 		'')
:heart_eyes_cat:" 		=> array('1f63b' 		20,		20, 		'')
:smirk_cat:" 				=> array('1f63c' 		20,		20, 		'')
:kissing_cat:" 			=> array('1f63d' 		20,		20, 		'')
:scream_cat:" 			=> array('1f640' 		20,		20, 		'')
:crying_cat_face:" 		=> array('1f63f' 		20,		20, 		'')
:pouting_cat:" 			=> array('1f63e' 		20,		20, 		'')
:boy:" 					=> array('1f466' 		20,		20, 		'')
:girl:" 					=> array('1f467' 		20,		20, 		'')
:man:" 					=> array('1f468' 		20,		20, 		'')
:woman:" 					=> array('1f469' 		20,		20, 		'')
:older_man:" 				=> array('1f474' 		20,		20, 		'')
:older_woman:" 			=> array('1f475' 		20,		20, 		'')
:baby:" 					=> array('1f476' 		20,		20, 		'')
:angel:" 					=> array('1f47c' 		20,		20, 		'')
:cop:" 					=> array('1f46e' 		20,		20, 		'')
:spy:" 					=> array('1f575' 		20,		20, 		'')
:guardsman:" 				=> array('1f482' 		20,		20, 		'')
:construction_worker:" 	=> array('1f477' 		20,		20, 		'')
:man_with_turban:" 		=> array('1f473' 		20,		20, 		'')
:person_with_blond_hair:" => array('1f471' 		20,		20, 		'')
:santa:" 					=> array('1f385' 		20,		20, 		'')
:mrs_claus:" 				=> array('1f936' 		20,		20, 		'')
:princess:" 				=> array('1f478' 		20,		20, 		'')
:prince:" 				=> array('1f934' 		20,		20, 		'')
:bride_with_veil:" 		=> array('1f470' 		20,		20, 		'')
:man_in_tuxedo:" 			=> array('1f935' 		20,		20, 		'')
:pregnant_woman:" 		=> array('1f930' 		20,		20, 		'')
:man_with_gua_pi_mao:" 	=> array('1f472' 		20,		20, 		'')
:person_frowning:" 		=> array('1f64d' 		20,		20, 		'')
:person_with_pouting_face:" => array('1f64e' 		20,		20, 		'')
:no_good:" 				=> array('1f645' 		20,		20, 		'')
:ok_woman:" 				=> array('1f646' 		20,		20, 		'')
:information_desk_person:" => array('1f481' 		20,		20, 		'')
:raising_hand:" 			=> array('1f64b' 		20,		20, 		'')
:bow:" 					=> array('1f647' 		20,		20, 		'')
:face_palm:" 				=> array('1f926' 		20,		20, 		'')
:shrug:" 					=> array('1f937' 		20,		20, 		'')
:massage:" 				=> array('1f486' 		20,		20, 		'')
:haircut:" 				=> array('1f487' 		20,		20, 		'')
:walking:" 				=> array('1f6b6' 		20,		20, 		'')
:runner:" 				=> array('1f3c3' 		20,		20, 		'')
:dancer:" 				=> array('1f483' 		20,		20, 		'')
:man_dancing:" 			=> array('1f57a' 		20,		20, 		'')
:dancers:" 				=> array('1f46f' 		20,		20, 		'')
:speaking_head:" 			=> array('1f5e3' 		20,		20, 		'')
:bust_in_silhouette:" 	=> array('1f464' 		20,		20, 		'')
:busts_in_silhouette:" 	=> array('1f465' 		20,		20, 		'')
:couple:" 				=> array('1f46b' 		20,		20, 		'')
:two_men_holding_hands:" 	=> array('1f46c' 		20,		20, 		'')
:two_women_holding_hands:" => array('1f46d' 		20,		20, 		'')
:couplekiss:" 			=> array('1f48f' 		20,		20, 		'')

1f468-2764-1f48b-1f468 " :kiss_mm:"
1f469-2764-1f48b-1f469 " :kiss_ww:"

1f491 " :couple_with_heart:"

1f468-2764-1f468 " :couple_mm:"
1f469-2764-1f469 " :couple_ww:"

1f46a " :family:"

1f468-1f469-1f467 " :family_mwg:

1f468-1f469-1f467-1f466 " :family_mwgb:"
1f468-1f469-1f466-1f466 " :family_mwbb:"
1f468-1f469-1f467-1f467 " :family_mwgg:"

1f468-1f468-1f466 " :family_mmb:"
1f468-1f468-1f467 " :family_mmg:"

1f468-1f468-1f467-1f466 " :family_mmgb:"
1f468-1f468-1f466-1f466 " :family_mmbb:"
1f468-1f468-1f467-1f467 " :family_mmgg:"

1f469-1f469-1f466 " :family_wwb:"
1f469-1f469-1f467 " :family_wwg:"

1f469-1f469-1f467-1f466	" :family_wwgb:" 	
1f469-1f469-1f466-1f466	" :family_wwbb:" 	
1f469-1f469-1f467-1f467	" :family_wwgg:" 	

1f4aa " :muscle:" 			
1f933 " :selfie:" 			
1f448 " :point_left:" 		
1f449 " :point_right:" 		
261d  " :point_up:" 		
1f446 " :point_up_2:" 		
1f595 " :middle_finger:" 	
1f447 " :point_down:" 		
270c  " :v:" 				
1f91e " :fingers_crossed:" 	
1f596 " :vulcan:" 			
1f918 " :metal:" 			
1f919 " :call_me:" 			
1f590 " :hand_splayed:" 	
270b  " :raised_hand:" 		
1f44c " :ok_hand:" 			
1f44d " :thumbsup:" 		
1f44e " :thumbsdown:" 		
270a  " :fist:" 			
1f44a " :punch:" 			
1f91b " :left_facing_fist:" 		
1f91c " :right_facing_fist:" 	
1f91a " :raised_back_of_hand:"
1f44b " :wave:" 					
1f44f " :clap:" 					
270d  " :writing_hand:" 			
1f450 " :open_hands:" 				
1f64c " :raised_hands:" 			
1f64f " :pray:" 					
1f91d " :handshake:" 				
1f485 " :nail_care:" 				
1f442 " :ear:" 						
1f443 " :nose:" 					
1f463 " :footprints:" 				
1f440 " :eyes:" 					
1f441 " :eye:" 						
1f445 " :tongue:" 					
1f444 " :lips:" 					
1f48b " :kiss:" 					
1f4a4 " :zzz:" 						
1f453 " :eyeglasses:" 				
1f576 " :dark_sunglasses:" 			
1f454 " :necktie:" 					
1f455 " :shirt:" 					
1f456 " :jeans:" 					
1f457 " :dress:" 					
1f458 " :kimono:" 					
1f459 " :bikini:" 					
1f45a " :womans_clothes:" 			
1f45b " :purse:" 					
1f45c " :handbag:" 					
1f45d " :pouch:" 					
1f392 " :school_satchel:" 			
1f45e " :mans_shoe:" 				
1f45f " :athletic_shoe:" 			
1f460 " :high_heel:" 				
1f461 " :sandal:" 					
1f462 " :boot:" 					
1f451 " :crown:" 					
1f452 " :womans_hat:" 				
1f3a9 " :tophat:" 					
1f393 " :mortar_board:" 			
26d1  " :helmet_with_cross:" 		
1f484 " :lipstick:" 				
1f48d " :ring:" 					
1f302 " :closed_umbrella:" 			
1f4bc " :briefcase:" 				
</ul>
<!--<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?><!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Welcome to CodeIgniter</title>

	<style type="text/css">

	::selection { background-color: #E13300; color: white; }
	::-moz-selection { background-color: #E13300; color: white; }

	body {
		background-color: #fff;
		margin: 40px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#body {
		margin: 0 15px 0 15px;
	}

	p.footer {
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}

	#container {
		margin: 10px;
		border: 1px solid #D0D0D0;
		box-shadow: 0 0 8px #D0D0D0;
	}
	</style>
</head>
<body>

<div id="container">
	<h1>Welcome to CodeIgniter!</h1>

	<div id="body">
		<p>The page you are looking at is being generated dynamically by CodeIgniter.</p>

		<p>If you would like to edit this page you'll find it located at:</p>
		<code>application/views/welcome_message.php</code>

		<p>The corresponding controller for this page is found at:</p>
		<code>application/controllers/Welcome.php</code>

		<p>If you are exploring CodeIgniter for the very first time, you should start by reading the <a href="user_guide/">User Guide</a>.</p>
	</div>

	<p class="footer">Page rendered in <strong>{elapsed_time}</strong> seconds. <?php echo  (ENVIRONMENT === 'development') ?  'CodeIgniter Version <strong>' . CI_VERSION . '</strong>' : '' ?></p>
</div>

</body>
</html>-->